{#
   /**
     * 
     * Menu Template.
     *
     * Load basic structure for pages
     * Establishes the basic characteristics of the Facturascripts.
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2018  Cristo M. Estévez Hernández <cristom.estevez@gmail.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see <http://www.gnu.org/licenses/>.
     *
    */
#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ constant('FS_LANG')|slice(0, 2) }}" xml:lang="{{ constant('FS_LANG')|slice(0, 2) }}" >
    <head>
        {% block meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>{{ i18n.trans(fsc.title) | capitalize }}</title>
            <meta name="description" content="{{ i18n.trans('meta-description') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <meta name="generator" content="{{ i18n.trans('facturascripts') }}" />
            <meta name="robots" content="noindex" />
        {% endblock %}
        {% block icons %}
            <!-- Icons-->
            <link rel="shortcut icon" href="{{ asset('Plugins/CoreuiTemplate/Assets/Images/favicon.ico') }}">
            <link href="{{ asset('Plugins/CoreuiTemplate/node_modules/flag-icon-css/css/flag-icon.min.css') }}" rel="stylesheet">
            <link href="{{ asset('Plugins/CoreuiTemplate/node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('Plugins/CoreuiTemplate/node_modules/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
            <!-- Main styles for this application-->
            <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/Assets/CSS/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/Assets/CSS/pace.css') }}" />

            <link rel="stylesheet" href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.css') }}" />
        {% endblock %}
        {# Add Specific Controller CSS #}
        {% for css in fsc.assets['css'] %}
            <link rel="stylesheet" href="{{ css }}" />
        {% endfor %}
        {% block javascripts %}
            <script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
            <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('node_modules/bootbox/bootbox.min.js') }}"></script>
            <script src="{{ asset('node_modules/jscolor-picker/jscolor.min.js') }}"></script>
            <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('Dinamic/Assets/JS/custom.js') }}"></script>
            <script src="{{ asset('Plugins/CoreuiTemplate/Assets/JS/customCoreUI.js') }}"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    var email = "{{ fsc.user.email }}";
                    var gravatar = getGravatar(email);
                    $("#gravatar").attr("src", gravatar);
                });
            </script>
        {% endblock %}
        {# Add Specific Controller JS #}
        {% for js in fsc.assets['js'] %}
            <script src="{{ js }}"></script>
        {% endfor %}
        {{ debugBarRender.renderHead()|raw }}
    </head>
     {% block fullBody %}
        <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
            <header class="app-header navbar">
                <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {# LOGO #}
                <a class="navbar-brand" href="index.php">
                    <img class="navbar-brand-full" src="{{ asset('Plugins/CoreuiTemplate/Assets/Images/horizontal-logo.png') }}" width="89" height="25" alt="FS Logo">
                    <img class="navbar-brand-minimized" src="{{ asset('Plugins/CoreuiTemplate/Assets/Images/logo.png') }}" width="30" height="30" alt="FS Logo">
                </a>
                <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="gravatar" name="gravatar" class="img-avatar" src="{{ asset('Plugins/CoreuiTemplate/Assets/Images/avatar.gif') }}" alt="{{ fsc.user.nick }}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header text-center">
                            <strong> {{ i18n.trans('account') }}</strong>
                            </div>
                            <a class="dropdown-item" href="{{ fsc.user.url() }}">
                            <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i> &nbsp; {{ fsc.user.nick }}
                            </a>
                            <a class="dropdown-item" href="?logout=TRUE">
                            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> &nbsp; {{ i18n.trans('logout') }}
                            </a>
                        </div>
                    </li>
                </ul>
               
                {% if template != 'MegaSearch.html.twig' %}
                    <form action="MegaSearch" method="post" class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="{{ i18n.trans('search') }}"/>
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </header>
            <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                <ul class="nav">
                    {% for menuItem in menuManager.getMenu() %}
                        {{ menuItem.getHTML()|raw }}
                    {% endfor %}
                </ul>
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
            </div>
            </div>
            {% block messages %}
                {% from 'Macro/Utils.html.twig' import message as show_message %}
                {{ show_message(log, ['error', 'critical', 'alert', 'emergency'], 'danger') }}
                {{ show_message(log, ['warning'], 'warning') }}
                {{ show_message(log, ['notice'], 'success') }}
                {{ show_message(log, ['info'], 'info') }}
            {% endblock %}
            {% block bodyHeaderOptions %}{% endblock %}
            {% block body %}{% endblock %}
            {{ debugBarRender.render()|raw }}

            {% block javascriptfooter %}
                <!-- Bootstrap and necessary plugins-->
                <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/pace-progress/pace.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/@coreui/coreui/dist/js/coreui.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('node_modules/summernote/dist/summernote-bs4.js') }}"></script>
                <!-- Plugins and scripts required by this view-->
                <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js') }}"></script>
            {% endblock %}
        </body>
     {% endblock %}
</html>