{#
   /**
     * 
     * Micro Template.
     *
     * Load basic structure for pages without menu
     * Establishes the basic characteristics of the Facturascripts.
     * This file is part of FacturaScripts
     * Copyright (C) 2017-2018  Cristo M. Estévez Hernández <cristom.estevez@gmail.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program.  If not, see <http://www.gnu.org/licenses/>.
     *
    */
#}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ constant('FS_LANG')|slice(0, 2) }}" xml:lang="{{ constant('FS_LANG')|slice(0, 2) }}" >
    <head>
        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ i18n.trans(fsc.title) | capitalize }}</title>
        <meta name="description" content="{{ i18n.trans('meta-description') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="generator" content="{{ i18n.trans('facturascripts') }}" />
        <meta name="robots" content="noindex" />
        {% endblock %}
        {% block icons %}
        <!-- Icons-->
        <link rel="shortcut icon" href="{{ asset('Plugins/CoreuiTemplate/Assets/Images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/node_modules/flag-icon-css/css/flag-icon.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/node_modules/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/node_modules/simple-line-icons/css/simple-line-icons.css') }}" />
        {% endblock %}
        {% block css %}
        <!-- Main styles for this application-->
        <link rel="stylesheet" href="{{ asset('Plugins/CoreuiTemplate/Assets/CSS/style.css') }}" />
        {% endblock %}
        {% block javascripts %}
        
        {% endblock %}
        {{ debugBarRender.renderHead()|raw }}
    </head>
    {% block fullBody %}
    <body {% block bodyextra %}{% endblock %}>
        {% block messages %}
        {% from 'Macro/Utils.html.twig' import message as show_message %}
        {{ show_message(log, ['error', 'critical', 'alert', 'emergency'], 'danger') }}
        {{ show_message(log, ['warning'], 'warning') }}
        {{ show_message(log, ['notice'], 'success') }}
        {{ show_message(log, ['info'], 'info') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {{ debugBarRender.render()|raw }}

        {% block javascriptfooter %}
        <!-- Bootstrap and necessary plugins-->
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/pace-progress/pace.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('Plugins/CoreuiTemplate/node_modules/@coreui/coreui/dist/js/coreui.min.js') }}"></script>
        {% endblock %}
    </body>
    {% endblock %}
</html>
